In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("helean1.csv") #loading the dataset
df = df.iloc[: , :-1]
df

,Item_id,Quantity,Price_ht,Price_ttc,Transaction_id,Date
0,11,0.485,8.388626,8.85,339910,2022-06-30T18:02:30Z
1,65,0.445,7.364929,7.77,339910,2022-06-30T18:02:30Z

In [3]:
df.dtypes

Item_id             int64
Quantity          float64
Price_ht          float64
Price_ttc         float64
Transaction_id      int64
Date               object
dtype: object

In [4]:
df['Date'] = pd.to_datetime(df['Date'],format='%Y-%m-%d %H:%M:%S') #transforming the date column to python date
df['Date']

0   2022-06-30 18:02:30+00:00
1   2022-06-30 18:02:30+00:00
Name: Date, dtype: datetime64[ns, UTC]

In [5]:
df.dtypes

Item_id                         int64
Quantity                      float64
Price_ht                      float64
Price_ttc                     float64
Transaction_id                  int64
Date              datetime64[ns, UTC]
dtype: object

In [6]:
df['Sales'] = df['Quantity'] * df['Price_ttc'] #adding Sales column by multiplying Quantity and Price with taxes included
df

,Item_id,Quantity,Price_ht,Price_ttc,Transaction_id,Date,Sales
0,11,0.485,8.388626,8.85,339910,2022-06-30 18:02:30+00:00,4.29225
1,65,0.445,7.364929,7.77,339910,2022-06-30 18:02:30+00:00,3.45765

In [7]:
df['yDate'] = df['Date'].dt.to_period('Y') #creating year column
df

C:\Users\user\anaconda3\lib\site-packages\pandas\core\arrays\datetimes.py:1101: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  warnings.warn(

,Item_id,Quantity,Price_ht,Price_ttc,Transaction_id,Date,Sales,yDate
0,11,0.485,8.388626,8.85,339910,2022-06-30 18:02:30+00:00,4.29225,2022
1,65,0.445,7.364929,7.77,339910,2022-06-30 18:02:30+00:00,3.45765,2022

In [8]:
df['mDate'] = df['Date'].dt.to_period('M') #creating month column
df

C:\Users\user\anaconda3\lib\site-packages\pandas\core\arrays\datetimes.py:1101: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  warnings.warn(

,Item_id,Quantity,Price_ht,Price_ttc,Transaction_id,Date,Sales,yDate,mDate
0,11,0.485,8.388626,8.85,339910,2022-06-30 18:02:30+00:00,4.29225,2022,2022-06
1,65,0.445,7.364929,7.77,339910,2022-06-30 18:02:30+00:00,3.45765,2022,2022-06

In [9]:
df['dDate'] = df['Date'].dt.to_period('D') #creating day column
df

C:\Users\user\anaconda3\lib\site-packages\pandas\core\arrays\datetimes.py:1101: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  warnings.warn(

,Item_id,Quantity,Price_ht,Price_ttc,Transaction_id,Date,Sales,yDate,mDate,dDate
0,11,0.485,8.388626,8.85,339910,2022-06-30 18:02:30+00:00,4.29225,2022,2022-06,2022-06-30
1,65,0.445,7.364929,7.77,339910,2022-06-30 18:02:30+00:00,3.45765,2022,2022-06,2022-06-30

In [10]:
df.dtypes

Item_id                         int64
Quantity                      float64
Price_ht                      float64
Price_ttc                     float64
Transaction_id                  int64
Date              datetime64[ns, UTC]
Sales                         float64
yDate                   period[A-DEC]
mDate                       period[M]
dDate                       period[D]
dtype: object

In [15]:
month = df.groupby(['mDate'])['Sales'].sum() #aggregating sum of sales grouping by month
month

mDate
2022-06    7.7499
Freq: M, Name: Sales, dtype: float64

In [23]:
year = df.groupby(['yDate'])['Sales'].mean() #average of yearly sales
year

yDate
2022    3.87495
Freq: A-DEC, Name: Sales, dtype: float64

### 1. Develop a function which take a Pandas DataFrame like the one shown bellow and returns statistics of the sales: Yearly, quarterly, monthly and weekly growth of the turnover.

In [26]:
def StatisticsSummary(data):
    data['Date'] = pd.to_datetime(data['Date'],format='%Y-%m-%d %H:%M:%S') #transforming the date column to python date
    
    data['Sales'] = data['Quantity'] * data['Price_ttc'] #adding Sales column by multiplying Quantity and Price with taxes included
    
    data['yDate'] = data['Date'].dt.to_period('Y') #creating year column
    data['mDate'] = data['Date'].dt.to_period('M') #creating month column
    data['dDate'] = data['Date'].dt.to_period('D') #creating day column
    
    yearly = data.groupby(['yDate'])['Sales'].sum()  #calculate the sum of all sales for specific year
    quarter = yearly/4                                 #yearly sales devided by 4 represents quarter sales
    monthly = data.groupby(['mDate'])['Sales'].sum() #calculate the sum of all sales for specific month
    weekly = monthly/4.35                              #monthly sales devided by 4.35 represents weekly sales 
    
    return yearly, quarter, monthly, weekly

Testing Output:

In [27]:
data = pd.read_csv("helean1.csv") #loading the dataset
data = df.iloc[: , :-1]
StatisticsSummary(data)

(yDate
 2022    7.7499
 Freq: A-DEC, Name: Sales, dtype: float64,
 yDate
 2022    1.937475
 Freq: A-DEC, Name: Sales, dtype: float64,
 mDate
 2022-06    7.7499
 Freq: M, Name: Sales, dtype: float64,
 mDate
 2022-06    1.781586
 Freq: M, Name: Sales, dtype: float64)

### 2. Develop a function that returns average sales by month and day of the week. Use the same DataFrame. Explain the assumptions with comments.

In [28]:
def Average(data):
    data['Date'] = pd.to_datetime(data['Date'],format='%Y-%m-%d %H:%M:%S') #transforming the date column to python date
    
    data['Sales'] = data['Quantity'] * data['Price_ttc'] #adding Sales column by multiplying Quantity and Price with taxes included
    
    data['yDate'] = data['Date'].dt.to_period('Y') #creating year column
    data['mDate'] = data['Date'].dt.to_period('M') #creating month column
    data['dDate'] = data['Date'].dt.to_period('D') #creating day column
    
    monthly_avg = data.groupby(['mDate'])['Sales'].mean() #calculate the avg of all sales for specific month
    daily_avg = data.groupby(['dDate'])['Sales'].mean()   #monthly sales devided by 4.35 represents weekly sales 
    
    return monthly_avg, daily_avg

Testing Output:

In [29]:
data = pd.read_csv("helean1.csv") #loading the dataset
data = df.iloc[: , :-1]
Average(data)

(mDate
 2022-06    3.87495
 Freq: M, Name: Sales, dtype: float64,
 dDate
 2022-06-30    3.87495
 Freq: D, Name: Sales, dtype: float64)